h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: bold; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 600;
  font-style: bold; }

body,
h1,
h2,
h3,
p,
ul {
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none; }

.header {
  height: 800px;
  color: #fff;
  border-radius: 0 0 0 200px;
  background-color: #008aff;
  position: relative; }
  @media screen and (min-width: 960px) and (max-width: 1220px) {
    .header {
      height: 100vh;
      border-radius: 0 0 0 200px; } }
  @media screen and (max-width: 959px) {
    .header {
      border-radius: 0; } }
  .header__nav {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto; }
  .header__hire {
    color: #fff;
    white-space: nowrap;
    border-bottom: 2px solid #ff9c8e;
    border-radius: 1px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__hire:hover {
      color: #ff9c8e; }
    @media screen and (max-width: 959px) {
      .header__hire {
        display: inline-block;
        padding: 36px 0 20px;
        margin-left: 30px;
        letter-spacing: 0;
        font-size: 24px;
        border-bottom: 3px solid #fff;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        .header__hire:hover {
          color: #008aff; } }
  @media screen and (min-width: 541px) and (max-width: 959px) {
    .header__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media screen and (max-width: 540px) {
    .header__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .header__title {
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: 2px;
    margin-top: 120px; }
    @media screen and (min-width: 541px) and (max-width: 959px) {
      .header__title {
        font-size: 52px;
        line-height: 1;
        margin-top: 0; } }
    @media screen and (max-width: 540px) {
      .header__title {
        text-align: center;
        margin-top: 10px;
        font-size: 60px;
        line-height: 60px; } }
  .header__text {
    width: 362px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-top: 16px; }
    @media screen and (min-width: 541px) and (max-width: 959px) {
      .header__text {
        max-width: 300px;
        margin-top: 24px; } }
    @media screen and (max-width: 540px) {
      .header__text {
        width: 100%;
        text-align: center; } }
  .header__btn {
    display: block;
    margin-top: 82px; }
    @media screen and (min-width: 960px) and (max-width: 1220px) {
      .header__btn {
        margin-top: 62px; } }
    @media screen and (min-width: 541px) and (max-width: 959px) {
      .header__btn {
        margin-top: 20px; } }
    @media screen and (max-width: 540px) {
      .header__btn {
        text-align: center;
        margin-top: 10px;
        width: 100%; } }
  .header__slide {
    padding-bottom: 10px; }

.nav {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 150%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media screen and (max-width: 959px) {
      .nav__list {
        display: block;
        margin-left: 30px; } }
  .nav__link {
    padding: 8px 2.5em;
    color: #fff;
    white-space: nowrap;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      content: " ";
      opacity: 0;
      -webkit-transition: height 0.1s, opacity 0.1s, -webkit-transform 0.1s;
      transition: height 0.1s, opacity 0.1s, -webkit-transform 0.1s;
      transition: height 0.1s, opacity 0.1s, transform 0.1s;
      transition: height 0.1s, opacity 0.1s, transform 0.1s, -webkit-transform 0.1s;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    .nav__link:focus::after {
      height: 2px;
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .nav__link:hover {
      color: #ff9c8e; }
    @media screen and (min-width: 960px) and (max-width: 1220px) {
      .nav__link {
        padding: 8px 2.1em; } }
    @media screen and (max-width: 959px) {
      .nav__link {
        display: inline-block;
        padding: 36px 0 20px;
        letter-spacing: 0;
        font-size: 24px;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        .nav__link:hover {
          color: #008aff; } }
  .nav .nav__toggle {
    display: none; }
  .nav .nav__toggle-label {
    display: none;
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 90px;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 40px; }
    @media screen and (max-width: 800px) {
      .nav .nav__toggle-label {
        right: 40px; } }
    .nav .nav__toggle-label span {
      display: block;
      height: 5px;
      border-radius: 2px;
      background-color: #fff;
      margin: 5px 0 0;
      position: relative;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    @media screen and (max-width: 959px) {
      .nav .nav__toggle-label {
        display: block; } }
  .nav .nav__toggle:checked ~ .nav__toggle-label .first {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px; }
  .nav .nav__toggle:checked ~ .nav__toggle-label .second {
    opacity: 0; }
  .nav .nav__toggle:checked ~ .nav__toggle-label .third {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -10px; }

.button {
  width: 226px;
  height: 56px;
  display: block;
  background-color: #ff9c8e;
  border-radius: 64px;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:hover {
    background-color: #ff7e6c; }

.slid {
  position: absolute;
  right: 0;
  bottom: 0; }
  @media screen and (min-width: 1921px) {
    .slid {
      top: 120px; } }
  @media screen and (min-width: 960px) and (max-width: 1220px) {
    .slid {
      position: absolute; } }
  @media screen and (max-width: 959px) {
    .slid {
      display: absolute; } }
  .slid__img {
    border-radius: 200px 0;
    display: block; }
    @media screen and (max-width: 1921px) {
      .slid__img {
        border-radius: 200px 0 0; } }
    @media screen and (min-width: 960px) and (max-width: 1220px) {
      .slid__img {
        border-radius: 200px 0 0;
        width: 400px;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center; } }
    @media screen and (max-width: 959px) {
      .slid__img {
        border-radius: 200px 0 0;
        width: 400px;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center; } }
  .slid__info {
    position: absolute;
    bottom: 48px;
    left: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slid__description {
    margin-left: 24px; }
  .slid__title {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase; }
  .slid__text {
    margin-top: 8px;
    width: 200px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    line-height: 140%; }

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .arrow:hover {
    background-color: #faeaea; }
  .arrow:hover {
    -webkit-box-shadow: 0 0 5px 2px #dfd9d9;
            box-shadow: 0 0 5px 2px #dfd9d9; }
  .arrow-left {
    background-image: url("../images/slider/arrow-right.svg");
    background-size: 8px; }
  .arrow-right {
    background-image: url("../images/slider/arrow-left.svg");
    background-size: 8px; }

.container {
  max-width: 1220px;
  padding-top: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1921px) {
    .container {
      position: relative; } }
  @media screen and (min-width: 960px) and (max-width: 1220px) {
    .container {
      max-width: 900px;
      padding-left: 30px;
      padding-right: 30px;
      position: static; } }
  @media screen and (min-width: 541px) and (max-width: 959px) {
    .container {
      max-width: 800px;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      position: static; } }
  @media screen and (max-width: 540px) {
    .container {
      max-width: 600px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px; } }

.logo {
  position: relative;
  z-index: 20;
  margin-right: 65px; }
  @media screen and (max-width: 959px) {
    .logo {
      display: block;
      font-size: 32px;
      line-height: 1;
      padding: 20px 0; } }

.hidden__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media screen and (min-width: 1921px) {
    .hidden__menu {
      padding-right: 150px; } }

@media screen and (min-width: 541px) and (max-width: 959px) {
  .hidden__menu {
    height: 86%;
    z-index: 7;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 20px;
    border-radius: 0 122px;
    display: inline-block;
    background-color: #ff9c8e;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .nav__toggle:checked ~ .hidden__menu {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@media screen and (max-width: 540px) {
  .hidden__menu {
    height: 91%;
    z-index: 7;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 20px;
    border-radius: 0 122px 0 0;
    display: inline-block;
    background-color: #ff9c8e;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .nav__toggle:checked ~ .hidden__menu {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  .nav__toggle:checked .header__hire {
    border-bottom: 2px solid #fff; } }

.title {
  font-family: "Poppins-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }

.ourself {
  max-width: 754px;
  padding-top: 148px;
  padding-bottom: 148px;
  margin: 0 auto; }
  @media screen and (max-width: 540px) {
    .ourself {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .ourself__title {
    margin-bottom: 16px; }
  .ourself__text {
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

.services {
  background-color: #fff;
  padding-top: 128px;
  padding-bottom: 128px;
  margin: 0 auto; }
  @media screen and (max-width: 540px) {
    .services {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .services__title {
    text-align: center; }

.boxCards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 314px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center; }
  @media screen and (max-width: 959px) {
    .boxCards {
      grid-template-columns: repeat(1, minmax(200px, 400px));
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .boxCards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.service {
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .service__img-wrap {
    overflow: hidden;
    width: 184px;
    height: 166px;
    border-radius: 20px;
    margin: 0 auto; }
  .service__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .service:hover .service__img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .service__title {
    margin-top: 40px;
    color: #253757; }
  .service__text {
    margin-top: 16px;
    text-align: center;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    line-height: 150%; }

.img--1 {
  background-image: url("../images/what-we-do/what-we-do-1.jpg"); }

.img--2 {
  background-image: url("../images/what-we-do/what-we-do-2.jpg"); }

.img--3 {
  background-image: url("../images/what-we-do/what-we-do-3.jpg"); }

.button {
  width: 226px;
  height: 56px;
  display: block;
  background-color: #ff9c8e;
  border-radius: 64px;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:hover {
    background-color: #ff7e6c; }

.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 109px 0;
  background-image: url("../images/Shapes.png");
  background-color: #fff;
  background-size: contain;
  background-position: center; }
  .vision__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .vision__title {
    padding-top: 51px;
    font-size: 52px; }
  .vision__text {
    max-width: 712px;
    margin-top: 24px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 24px;
    line-height: 150%;
    text-align: center; }
  .vision__btn {
    margin-top: 64px;
    text-align: center; }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 148px;
  padding-bottom: 44px;
  margin: 0 auto; }
  @media screen and (max-width: 959px) {
    .process {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (max-width: 540px) {
    .process {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .process__description {
    margin-right: 226px;
    -webkit-transform: translateY(18%);
            transform: translateY(18%); }
    @media screen and (min-width: 541px) and (max-width: 1220px) {
      .process__description {
        margin-right: 50px; } }
    @media screen and (max-width: 959px) {
      .process__description {
        margin-right: 0;
        margin-bottom: 20px;
        -webkit-transform: translateY(0%);
                transform: translateY(0%); } }
  .process__title {
    margin-top: 16px;
    line-height: 130%; }
  .process__text {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    margin-top: 24px;
    line-height: 150%; }
  .process__card {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: repeat(2, 264px);
    grid-gap: 30px; }
    @media screen and (min-width: 541px) and (max-width: 1220px) {
      .process__card {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 200px); } }
    @media screen and (max-width: 540px) {
      .process__card {
        grid-template-columns: repeat(1, 264px); } }

.name-section {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.card {
  padding: 32px;
  width: 264px;
  height: 264px;
  margin: 0 30px 30px 0;
  background-color: #fff;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .card:nth-child(2n - 1) {
    -webkit-transform: translateY(89px);
            transform: translateY(89px);
    position: relative;
    z-index: 3; }
    @media screen and (max-width: 959px) {
      .card:nth-child(2n - 1) {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  @media screen and (min-width: 541px) and (max-width: 1220px) {
    .card {
      padding: 20px;
      width: 200px;
      height: 200px; } }
  @media screen and (max-width: 540px) {
    .card {
      margin: 0 0 30px; } }
  .card__number {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    text-align: center;
    line-height: 24px; }
  .card__text {
    padding-top: 26px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%; }
    @media screen and (min-width: 541px) and (max-width: 1220px) {
      .card__text {
        padding-top: 16px; } }
  .card__link {
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 541px) and (max-width: 1220px) {
      .card__link {
        padding-top: 16px; } }
  .card__arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .card__arrow:hover {
      -webkit-box-shadow: 0 0 5px 2px #a08c8c;
              box-shadow: 0 0 5px 2px #a08c8c; }
  .card__learn-more {
    padding-left: 16px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .card:hover .card__learn-more {
    font-size: 24px; }

.card--1 .card__number {
  color: #56ccf2;
  background: rgba(86, 204, 242, 0.1); }

.card--1 .card__arrow {
  background-color: #56ccf2; }

.card--2 .card__number {
  color: #fcc91d;
  background: rgba(252, 201, 29, 0.1); }

.card--2 .card__arrow {
  background-color: #fcc91d; }

.card--3 .card__number {
  color: #15d850;
  background: rgba(21, 216, 80, 0.1); }

.card--3 .card__arrow {
  background-color: #15d850; }

.card--4 .card__number {
  color: #f36363;
  background: rgba(243, 99, 99, 0.1); }

.card--4 .card__arrow {
  background-color: #f36363; }

.testimonial {
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  font-family: "OpenSans-Regular", sans-serif;
  line-height: 150%;
  padding: 32px;
  text-align: center; }
  .testimonial__decor {
    position: relative;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .testimonial__decor::before, .testimonial__decor::after {
    content: "";
    display: block;
    position: absolute;
    width: 139px;
    height: 56px;
    z-index: 1;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .testimonial__decor::before {
    left: -22px;
    top: 148px; }
  .testimonial__decor::after {
    right: -15px;
    top: 57px; }
  .testimonial__img {
    width: 140px;
    height: 140px;
    margin-top: 55px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    position: relative;
    z-index: 4; }
  .testimonial__quote {
    width: 21px;
    height: 19px;
    margin-top: 82px;
    background-position: center;
    background-size: 21px 19px;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .testimonial__text {
    margin-top: 11px; }
  .testimonial__person {
    margin-top: 16px;
    color: #253757; }
  .testimonial__position {
    margin-top: 4px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }

.testimonial--yellow .testimonial__decor::before,
.testimonial--yellow .testimonial__decor::after {
  background-color: #fcc304; }

.testimonial--yellow .testimonial__quote {
  background-image: url("../images/quote.svg"); }

.testimonial--blue .testimonial__decor::before,
.testimonial--blue .testimonial__decor::after {
  background-color: #56ccf2; }

.testimonial--blue .testimonial__quote {
  background-image: url("../images/quote-blue.svg"); }

.testimonial--pink .testimonial__decor::before,
.testimonial--pink .testimonial__decor::after {
  background-color: #f25656; }

.testimonial--pink .testimonial__quote {
  background-image: url("../images/quote-pink.svg"); }

.testimonial:hover .testimonial__decor,
.testimonial:hover .testimonial__quote {
  opacity: 0.7; }

.testimonials-section {
  padding-top: 148px;
  padding-bottom: 168px;
  margin: 0 auto; }
  @media screen and (max-width: 540px) {
    .testimonials-section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .testimonials-section__title {
    margin-top: 16px;
    margin-bottom: 85px; }

.approach {
  position: relative;
  z-index: 0;
  color: #fff; }
  @media screen and (max-width: 539px) {
    .approach {
      margin-top: -100px; } }
  .approach__container {
    padding: 204px 0 204px 204px;
    margin-left: 121px;
    background: #ff9c8e;
    border-radius: 200px 0 0 200px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media screen and (min-width: 1921px) {
      .approach__container {
        max-width: 1600px;
        margin: 0 auto;
        border-radius: 200px 200px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media screen and (min-width: 1250px) and (max-width: 1400px) {
      .approach__container {
        padding-left: 50px; } }
    @media screen and (min-width: 960px) and (max-width: 1249px) {
      .approach__container {
        padding: 200px; } }
    @media screen and (min-width: 540px) and (max-width: 959px) {
      .approach__container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 0;
        padding: 100px 30px;
        border-radius: 200px 0 0 200px; } }
    @media screen and (max-width: 539px) {
      .approach__container {
        margin-left: 0;
        padding: 100px 30px;
        border-radius: 0 0 0 200px; } }
  .approach__description {
    max-width: 371px; }
    @media screen and (max-width: 1249px) {
      .approach__description {
        max-width: 500px; } }
  .approach__name {
    color: #fff; }
  .approach__title {
    margin-top: 16px;
    line-height: 150%;
    color: #fff; }
  .approach__text {
    margin-top: 32px;
    line-height: 150%;
    margin-bottom: 32px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__img {
    margin-top: 296px;
    width: 687px;
    height: 680px;
    position: absolute;
    right: 0;
    bottom: 148px;
    background-image: url("../images/features/Photo.png");
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 200px 0 0; }
    @media screen and (min-width: 1250px) {
      .approach__img {
        bottom: 0; } }
    @media screen and (max-width: 1249px) {
      .approach__img {
        display: none; } }
  .approach__icon {
    margin-right: 34px; }
    @media screen and (max-width: 540px) {
      .approach__icon {
        margin-right: 14px;
        width: 32px;
        height: 32px; } }

.footer {
  background-color: #fff; }
  .footer__bg {
    background-color: #008aff;
    border-top-right-radius: 200px;
    padding-top: 131px; }
    @media screen and (max-width: 800px) {
      .footer__bg {
        padding-top: 80px; } }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 800px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 959px) {
      .footer__container {
        padding-bottom: 50px; } }
  .footer__nav {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 121px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 84px; }
    @media screen and (max-width: 959px) {
      .footer__nav {
        margin-top: 80px;
        padding-bottom: 40px; } }
  @media screen and (max-width: 959px) {
    .footer__list {
      display: none; } }
  .footer__arrow {
    display: none; }
    @media screen and (max-width: 959px) {
      .footer__arrow {
        display: block; } }

.footer__arrow:hover #arrow {
  fill: #d2ebff; }

.form {
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    background-color: transparent;
    margin-top: 18px;
    height: 32px;
    outline: none;
    border: none;
    overflow: auto;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding: 8px 0; }
    .form__input::-webkit-input-placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif; }
    .form__input::-moz-placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif; }
    .form__input:-ms-input-placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif; }
    .form__input::-ms-input-placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif; }
    .form__input::placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif; }

.sendMessage__title {
  color: #fff; }

.sendMessage__button {
  margin-top: 80px; }

.contactUs {
  color: #fff; }
  @media screen and (max-width: 800px) {
    .contactUs {
      margin-top: 100px; } }
  .contactUs__title {
    color: #fff; }
  .contactUs__name {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-top: 48px; }
  .contactUs__info {
    margin-top: 8px;
    font-family: "OpenSans-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: #fff; }

.icon {
  margin-right: 30px;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s; }

.icon:hover #facebook,
.icon:hover #instagram,
.icon:hover #twitter {
  fill: #d2ebff; }

body {
  background: #f2f9ff; }

html {
  scroll-behavior: smooth;
  font-size: 13px;
  font-family: "Poppins-SemiBold", "Poppins-Regular", "OpenSans-Regular", "OpenSans-SemiBold", sans-serif;
  color: #6c788b; }

/*# sourceMappingURL=main.css.map */
